<div class="row align-items-center">
    <h2 class="text-center mt-4">Pending Surveys</h2>
</div>
<div class="row mt-4 text-center">
<div class="card col-sm-6 mx-auto">
    <div class="card-header">
      <img src="/assets/Logo.png" height="50px">
    </div>
    <div class="card-body">
      <h5 class="card-title">Prep up Session Survey</h5>
      <p class="card-text">Feedback for the Prep Up sessions Conducted</p>
      <a href="#" mat-raised-button  style="background-color: orangered;">Review</a>
    </div>
  </div>
</div>