<app-header></app-header>
<div class="col-sm-14 mt-4">
    &nbsp;&nbsp;<a id='previous-button' href="#" class="previous round" routerLink="/adminHome">  &#8249;Back</a>
  <h2 class="text-center mt-4">Previous Surveys</h2>
</div>

<div class="row mt-4 justify-content-center">
    <div class="col-sm-6 ">
      <div class="card ">
        <div class="card-body ">
          <h5 class="card-title"> Prep-up Session Survey</h5>
          <a href="#" class="btn btn-primary mx-4" style="background-color: orangered;">View Analysis</a>
          <a href="#" class="btn btn-primary" style="background-color: orangered;">Link</a>
        </div>
      </div>
    </div>
  </div>
