<app-header></app-header>
<!-- For Heading -->
<div class="col-sm-3 col-md-6">
    <div class="row align-items-center">
        <h2 class="text-center mt-4">Create New Survey</h2>
    </div>    
</div>
<!-- For Main Area -->
<div class="col-sm-9 col-md-6">
    <div class="row">

        <!-- For Widgets -->
        <div class="col-lg-5">
            All Widgets Here
        </div>

        <!-- For Questions Section-->
        <div class="col-lg-5">
            All Questions Here
        </div>
    </div>
</div>